.component {
    border-color: black;
    border-style: solid;
    border-width: 0.5pt;
    padding: 2pt;
    margin: 2pt;
    width: 400pt;
}

.component-attrs {
    border-color: green;
    border-style: solid;
    border-width: 2pt;
}

.component-data {
    border-color: red;
    border-style: solid;
    border-width: 2pt;
}

.float-left {
    float: left;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

div {
    font-size: 14pt;
}

.dash-dropdown {
    display: inline-block;
    width: 30%;
    height: 14pt;
    line-height: 14pt;
}